pip>=25.2
setuptools>=65
wheel

git+https://github.com/Ezequiels199/mediaflow-proxy.git@main#egg=mediaflow-proxy

uvicorn[standard]>=0.18.0
fastapi>=0.95.0
requests>=2.31.0
httpx>=0.24.0
python-multipart>=0.0.6
